/* Write your CSS here */
.specific-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.specific-image {
  width: 40%;
  border-radius: 8px;
  margin-right: 10px;
}
.review-button {
  border: none;
  background-color: #3b82f6;
  color: #ffffff;
  border-radius: 8px;
  width: 50px;
  height: 20px;
}
.star-img {
  width: 10px;
}
.review-and-rating-container {
  display: flex;
  align-items: center;
}
.cart-buttons-container {
  display: flex;
  align-items: center;
  width: 70px;
  justify-content: space-between;
}
.similar-product-list-container {
  display: flex;
}
